<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="{% url 'accounts:index' %}">Library System</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'books:booklist' %}">書籍一覧</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'books:biblio_list' %}">書誌情報</a>
                </li>
                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link text-warning" href="{% url 'books:manageindex' %}">管理業務</a>
                </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ms-auto align-items-center">
                {% if user.is_authenticated %}
                    <li class="nav-item text-light me-3 small">
                        <span class="badge bg-secondary">{{ user.username }}</span> ログイン中
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard:index' %}">マイページ</a>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'accounts:logout' %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link">ログアウト</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:login' %}">ログイン</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light btn-sm ms-2" href="{% url 'accounts:regist' %}">新規登録</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>